{{set . "title" "Home"}}
{{template "header.html" .}}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{range .posts}}
                <div class="post-preview">
                    <a href="/post/{{.Id}}/view">
                        <h2 class="post-title">
                            {{.Title}}
                        </h2>
                        <p class="post-meta">Posted by <a href="#">{{.Username}}</a> on {{date .CreatedAt}}</p>
                        <p>
                            {{raw .Content}}
                        </p>
                    </a>
                </div>
                <hr>
                {{end}}
                <!-- Pager -->
                <ul class="pager">
                    {{range .pages}}
                        <li>
                            <a href="/?page={{.}}">{{.}}</a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

{{template "footer.html" .}}
